* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
  flex-basis: 500px;
  
  
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
  order:-1;
  
}

.menu-container {
  display: flex; 
  flex-grow: 1;
  align-self: center;
  
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
  
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;

}

.movie-container {
  display: flex;
  flex-direction: column;
  border: 1px solid greenyellow;
  flex: 1;
  flex-basis: 700px;
  padding: 10px;
 
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
  border: 1px solid purple;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid orange;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  flex: 1;
  flex-basis: 16%;
  
}

.aside-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex: 1;
  flex-basis: 350px;
  border: 1px solid red;
  justify-content: center;
  align-items: center;

}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}
