* {
  margin: 0;
}

h1 {
  font-size: 30px;
}
 
body {
  font-family: monospace;
  background-image: url(https://wallpapershome.com/images/wallpapers/ocean-3840x2160-5k-4k-wallpaper-8k-sea-nature-underwater-water-sun-386.jpg);
  position: relative;
  background-size: cover;
  
}

header {
  background-color: #09658aBB;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 50px;
  border-radius: 120px;
  }


h2{
  font-size: 40px;
  margin-bottom: 30px;
}

nav {
  padding: 10px;
}

nav a {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

#header_content {
  width: 600px;
  text-align: center;
  margin: auto;
  font-weight: 800; 
}

#header_content img {
  margin: 30px auto 0 auto;
  border-radius: 100px;
  width: 600px;
}

#header_title {
  font-size: 40px;
  position: relative;
  color: white;
  padding: 2px;
  background-color: rgb(5, 125, 206);
  border-radius: 8px;
  margin-left: auto;
  vertical-align: middle;
}

#navigation_menu {
  background-color: grey;
  text-decoration: none;
}

#navigation_menu a{
  color: 	#282828;
  text-decoration: none;
}


#main {
  background-color: #09658aBB;
  max-width: 1200px;
  margin: 40px auto ;
  padding: 50px;
  border-radius: 120px;
}

main img {
  margin: 20px 48px 20px 48px ;
  border-radius: 100px;
  width: 1100px;
}

#general_info {
  line-height: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

table { 
  margin: 30px auto;
  text-align:left;
  table-layout: fixed;
  border: 2px solid whitesmoke;
}

#general_info p {
  font-size: 20px;
}

table th{
  text-align: center;
  font-weight: bold;
}

#table_title {
  text-align: center;
  font-size: 16px;
}


